<div fxLayout="column" fxLayoutAlign="center"
     fxFlex="80%" fxFlexOffset="10%"
     fxFlex.gt-sm="70%" fxFlexOffset.gt-sm="15%"
     fxFlex.gt-md="50%" fxFlexOffset.gt-md="25%">
	<div class="am-flex-header">
		<am-round-image image="assets/images/me.jpg"></am-round-image>
	</div>
	<div class="am-content">
		<div class="am-headline">
			<div class="am-headline-content">About</div>
		</div>
		<span>
			My name is Leon Knabel. I am a frontend developer with passion.
        </span>
		<span>
			From the first day, I was enthusiastic for the topic web-development and started collecting experiences and knowledge. This hasn’t stopped since. I started developing professionally in an agile, cross-functional scrum-team about 3 years ago. Together we developed user-friendly features and consulted our product-owner with his user-stories.
		</span>
		<span>
			One day a colleague showed me Angular2 so I started to dive into the Framework, which was still in a beta at this time. Since then I am a huge fan and used it on a daily basis. The deeper I dived, the more I realised that I want to work with it professionally and use it productively. Unfortunately the Framework of my employer is a bit older (released in the year 2000) and has grown into a monolith. So I started to try to combine those completely different approaches of web-development. That took plenty of time and energy but as of now we are few steps away to go live with Angular as our new environment.
        </span>
		<span>
			Currently I act as an instructor in topics like JavaScript, performance, TypeScript, Angular and frontend-development in general.
        </span>
	</div>
</div>